.grid__filter {
    display: flex;
    flex-direction: column;
}

.grid__text-filter-input {
    height: 32px;
    width: 320px;
}

.grid__filter-row {
    width: 100%;
    display: flex;
}

.grid__filter-detail {
    padding: 8px 16px;
    height: 88px;
    display: flex;
    margin-top: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.grid__text-filter {
    display: flex;
    flex-grow: 1;
}

.grid__apply-filter {
    margin-top: 32px;
}

.grid__filter-expand-button {
    margin-left: 8px;
}